body {
  margin: 0;
  
}


.map-container {
  height: 100vh;
  
  
 
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  width: 300px;
  
  }

  .words {
    padding: 20px;
  }
  .allButtons {
    margin-top: 10px;
  }


  button {
    padding: 10px;
    margin: 3px;
    background-color: rgba(35, 55, 75, 0.9);
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 3px;
  }

  button:hover {
    opacity: .5;
    cursor: pointer;
  }

  footer {
    position: fixed;
    height: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
    z-index: 2;

  }
